* {
  box-sizing: border-box;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1d1f20;
  margin: 50px;
  text-align: center;
}

.weather-form-container {
  position: relative;
  margin: 40px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.weather-form-container button {
  color: grey;
}

.chosen-value, .value-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%
}

.chosen-value {
  font-size: 1.1rem;
  padding: 5px;
  border: 3px solid transparent;
  transition: 0.3x ease-in-out;
  color: grey;
}

.chosen-value:hover {
  background-color: #ff908b;
  cursor: pointer;
}

.chosen-value:focus, .chosen-value.open {
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  outline: 0;
  background-color: #ff908b;
  color: #000;
}

.value-list {
  list-style: none;
  margin-top: 40px;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  max-height: 0;
  transition: 0.3s ease-in-out;
  padding-inline-start: 0;
}

.value-list.open {
  max-height: 320px;
  overflow: auto;
}

.value-list li {
  position: relative;
  height: 40px;
  background-color: #fafcfd;
  padding: 1rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  opacity: 1;
  color: black;
}

.value-list li:hover {
  background-color: #ff908b;
}

.weather-card-container {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  color: white;
  text-align: center;
}

.weather-card-container.closed {
  visibility: hidden;
}

.weather-code {
  width: 200px;
}